.container{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: aliceblue;
}

.title{
  animation: uklizi 1s ease 1s 1 normal forwards;
  font-family: 'Luckiest Guy', cursive;
}
.title span{
  color:  rgb(247, 217, 19);
}

@keyframes uklizi {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}